extends layout.pug

block content

    .col-lg-12
        .jumbotron
            h1.jumbotron-heading Get Involved
            p.lead
                | We connect community members who want to give back with organizations that need help. It's easy. We'll reach out with a good deed to be done.
            p
                if !currentUser
                    a.btn.btn-lg.btn-info.sign-up-btn(href='/signup', role='button') Sign up!