extends layout.pug

block content
    .jumbotron.jumbotron-plain
        form(method='POST', action='/signup')
            .form-group
                label(for='firstName') First name
                input#exampleInputName.form-control(type='text', name='firstName', aria-describedby='nameHelp', placeholder='First name')
            .form-group
                label(for='lastName') Last name
                input#exampleInputName.form-control(type='text', name='lastName', aria-describedby='nameHelp', placeholder='Last name')
            .form-group
                label(for='email') Email address
                input#email.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email')
                small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
                label(for='password') Password
                input#exampleInputPassword1.form-control(type='password', name='password', placeholder='Password')
            .form-group
                label(for='confirmPassword') Confirm Password
                input#exampleInputPassword1.form-control(type='password', name='confirmPassword', placeholder='Password')
            br
            // VOLUNTEER INTEREST
            .form-check
                label(for='interestsList' name='interestList') In what sector(s) are you most interested in volunteering?
                br
                label(for="animalWelfare").form-check-label
                    input.form-check-input(type='checkbox', name='animalWelfare', value='Animal Welfare')
                    |           Animal welfare
            .form-check
                label(for="children").form-check-label
                    input.form-check-input(type='checkbox', name='children', value='Children')
                    |         Children
            .form-check
                label(for="elderlyCare").form-check-label
                    input.form-check-input(type='checkbox', name='elderlyCare', value='Elderly Care')
                    |         Elderly care
            .form-check
                label(for="environment").form-check-label
                    input.form-check-input(type='checkbox', name='environment', value='Environment')
                    |         Environment
            .form-check
                label(for="foodInsecurity").form-check-label
                    input.form-check-input(type='checkbox', name='foodInsecurity', value='Food Insecurity')
                    |         Food Insecurity
            br
            // SKILLS
            .form-check
                label(for='skillsList') What skills can you offer?
                br
                label(for="foreignLanguage").form-check-label
                    input.form-check-input(type='checkbox', name='foreignLanguage', value='Foreign Language')
                    |           Foreign Language
            .form-check
                label(for="art").form-check-label
                    input.form-check-input(type='checkbox', name='art', value='Art')
                    |         Art
            .form-check
                label(for="storytelling").form-check-label
                    input.form-check-input(type='checkbox', name='storytelling', value='Storytelling')
                    |         Storytelling
            .form-check
                label(for="tech").form-check-label
                    input.form-check-input(type='checkbox', name='tech', value='Tech')
                    |         Tech
            br
            input.btn.btn-success.submit-btn(type='submit')
