.wrapper {
    padding: 0 1em 0 1em;
}

/********* HOME PAGE *********/
/* NAV */
.header-padding {
    padding: .5em 1.25em;
}

#navbar-plain {
    background-image: none;
    background-color: inherit;
    border: none;
    border-radius: 0px;
    border-color: #FFF;
    box-shadow: none;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    text-decoration: none;
    background-color: #1A88A4 !important;
    color: #FFF !important;
}

/*logo */
a.logo {
    font-family: 'Pacifico', cursive;
    display: inline;
}

.logo-link-unstyled {
    color: #D70D54 !important;
    text-decoration: inherit;
}

.logo-link-unstyled:hover {
    color: #DECE24 !important;
    text-decoration: inherit;
}

/*jumbotron */
.jumbotron {
    font-family: 'Questrial', sans-serif;
    margin: 0 auto;
    /*padding: 0 4em 0 4em;*/
    color: white;
    background-image: url(../img/jumbotron-fade.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1000px;
}

.jumbotron-heading {
    color: white !important;
}

.jumbotron .lead {
    font-family: 'Lora', serif;
    color: white;
}

/********* VOLUNTEER FORM *********/
.jumbotron-plain {
    background-image: unset; /*removes image from background*/
    background-image: none; /*removeds background image in IE*/
}

/********* ABOUT PAGE *********/
.yellow-heading {
    color: #DECE24 !important;
    display: inline-block;
}

.img-about {
    margin: auto 0;
}

/********* CONTACT PAGE *********/
.contact-list {
    list-style: none;
    margin: auto 0 !important;
}

/********* PROFILE *********/
#formEdit {
    display: none;
}

#formEdit {
    padding: .75em 0;
}

.form-group {
    padding: 0 0;
}

#deleteBtn,
#updateBtn {
    margin-bottom: 10px;
}

/********* FOOTER *********/
footer {
    padding: 3em;
}

.footer p {
    text-align: center;
    text-shadow: 6px red;
}

/************
// Medium devices (tablets, 768px and up)
************/
@media (min-width: 768px) {
    .wrapper {
        padding: 0 3em 0 3em;
    }

    .header-padding {
        padding: .5em 2em;
    }
    .nav-pills {
        padding: 1em 0 1em 0 !important;
    }

    .btn-right {
        float: right;
        margin-right: 2.3em;
        margin-top: 1em;
    }

    .img-about {
        padding: 0 2em 0 2em;
    }

    /* contact page */
    .contact-list {
        list-style: none;
        padding-top: 2em;
    }

    .pusher-side-content {
        padding-top: 22%;
        margin: auto 0;
    }

}

@media (min-width: 1100px) {
    .wrapper {
        padding: 0 10em 0 10em;
    }
    .header-padding {
        padding: .5em 4em;
    }

    .p-about {
        max-width: 80%;
    }

    .img-about {
        padding: 0 2em 0 2em;
    }

}